/* src/components/Dashboard/UserList/UserList.module.css */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  width: 100%;
  padding-bottom: 50px;
}